html {
    background-color: black;
    background-color: black;
    color: rgb(255, 255, 243);
    background-image: url(../imagens/ragnarok-origin.png);
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventario {
    margin: 5px 5px;
    max-width: 700px;
    background-color: rgba(94, 185, 255, 0.300);
    border: solid white;
    border-radius: 15px;
}


.titulo {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    margin: 10px 10px;
    padding: 1px 1px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.paragrafo {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    padding: 10px 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.botao {
justify-content: justify;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-size: 14px;
    font-style: normal;
    padding: 15px 15px;
    margin: 10px 10px;
    background-color: rgba(11, 61, 100, 0.789);
    border: solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;
}

.botao-clicado {
    background-color: rgba(186, 158, 0, 0.726);
    border: solid rgb(255, 255, 255);
    border-radius: 15px;
}